body
	width 100%
	height 100%
	background-size 100% 100%
	margin 0px

#container
	width 900px
	height 600px
	border 1px solid #BDBDBD
	border-radius 5px
	position relative
	margin auto
	margin-top 100px
	overflow visible

#tooltip
	opacity 1
	display none
	border 1px solid #363636
	border-radius 3px
	background-color #FAFAFA
	color #585858
	width 360px
	padding 7px
	font-family arial
	font-size 12px
	font-weight bold
	padding-top 5px
	text-align center
	position absolute
	left 20px
	top 20px
	text-align left

.xAxis path
.xAxis line
	fill none
	stroke #808080
	stroke-width 1px
	shape-rendering crispEdges

.xAxis text
	fill grey
	font-size 12px
	font-family arial

.yAxis path
.yAxis line
	fill none
	stroke #808080
	shape-rendering crispEdges
	color #f2f2f2

.yAxis text
	fill grey
	font-size 12px
	font-family arial

.segmentline
.markerline
	stroke #BDBDBD
	stroke-widht 1px
	shape-rendering:crispEdges

.connectionline
	stroke #585858
	stroke-widht 1px


.mention
	fill #0b243b
	stroke #D7E2EE
	stroke-width 1px

